<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>My Movie Database</title>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
     <h2><a href="/dashboard">My Movie Database</a></h2>
     <div class="conatiner">
          <h3>Dashboard - Create Collection</h3>
          {{#if user}}
          <h3>{{user.username}}</h3>
          {{/if}}
          <a href="/logout">Logout</a>
          <div class="container">
               <form id='create-collection'>
                    <input type="text" id='name' placeholder="Collection Name">
                    <input type="text" id='description' placeholder="Collection Description">
                    <input type="submit">
               </form>
          </div>
     </div>
</body>
<script>
     let form = document.getElementById('create-collection')
     form.onsubmit =async (e)=>{
          e.preventDefault()
          let collection = {
               name: form.name.value,
               description: form.description.value
          }
          console.log(collection)
          let response = await fetch('/create-collection', {
               method: 'POST',
               body: JSON.stringify(collection),
               headers: {
                    'Content-Type': 'application/json',
               },
          })
          const  data = await response.json();
          console.log(data)
     }
</script>
</html>