
.slider button.slick-arrow{
     font-size: 0.7em;
     border-radius: 12px;
}

.search-container{
     background: linear-gradient(rgb(95, 253, 193),rgb(136, 233, 240));
     padding: 40px;
     text-align: center;
}
.search-container .title{
     color:white;
}

.search-container input[type="text"]{
     padding: 5px 16px;
     border-radius: 20px;
     border: 1px solid #111;
     min-width: 340px;
     position: relative;
     left: 20px;
}

.search-container input:focus{
     outline: 0px;
}
.search-container button:focus{
     border: 2px solid #111;
     outline: 0px;
}
.modal-body{
     height: 500px;
     overflow-y: scroll;
}
.search-container button{
     background: none;
     position: relative;
     left: -24px;
     padding-top: 5px;
     border: 0px;
     border-top-right-radius: 20px ;
     border-bottom-right-radius: 20px;
}
.search-container button img{
     width:25px;
     position: relative;
     top:-3px
}
.search-results>div{
     display: flex;
     text-align: left;
     margin: auto;
     margin-bottom: 20px;
     width: 80%;
}
.search-results .card-title{
     margin-bottom: 15px;
}
.search-results>div>div{
     padding-left: 20px;
}
.search-results .card-overview{
     font-size: 0.9em;
     line-height: 0.8em;
}

.search-results img{
     width: 50px;
}

.btn.header-btn{
     margin: auto 8px;
}
.wrapper{
     margin: 40px auto;
}
.footer{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     padding: 20px;
     background-color: rgb(241, 240, 240);
}
.footer img{
     width: 80px;
     height: 80px;
}
.footer-menus{
     display: flex;
     justify-content: space-evenly
}
.footer-menus div{
     margin: auto 20px;
}
.footer-menus .head{
     font-weight: bold;
     font-size: 1.2em;
}
.footer-menus ul{
     padding: 0;
     list-style-type: none;
}